<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Product List
    </ion-title>
    <ion-buttons class="shortingBtn" slot="end">
      <ion-button color="white" expand="blank" id="click-trigger">
        <ion-icon name="funnel-outline" slot="end"></ion-icon>
        Short
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="click-trigger" triggerAction="click">
      <ng-template>
        <!-- rating -->
        <ion-list>
          <ion-radio-group (ionChange)="checkRSelect($event)">
            <ion-list-header>
              <ion-label class="shortingLabel">
                Short By Rating
              </ion-label>
            </ion-list-header>
            <ion-item>
              <ion-radio value="4"></ion-radio>
              <ion-label class="Paylabel">Less than 4</ion-label>
            </ion-item>
            <ion-item>
              <ion-radio value="5"></ion-radio>
              <ion-label class="Paylabel">More than 4</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <!-- discount -->
        <ion-list>
          <ion-radio-group (ionChange)="checkDSelect($event)">
            <ion-list-header>
              <ion-label class="shortingLabel">
                Short By Discount
              </ion-label>
            </ion-list-header>
            <ion-item>
              <ion-radio value="15"></ion-radio>
              <ion-label class="Paylabel">Less than 15</ion-label>
            </ion-item>
            <ion-item>
              <ion-radio value="16"></ion-radio>
              <ion-label class="Paylabel">More than 15</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-list>
          <ion-radio-group (ionChange)="checkPSelect($event)">
            <ion-list-header>
              <ion-label class="shortingLabel">
                Short By Price
              </ion-label>
            </ion-list-header>
            <ion-item>
              <ion-radio value="100"></ion-radio>
              <ion-label class="Paylabel">Less than 100</ion-label>
            </ion-item>
            <ion-item>
              <ion-radio value="101"></ion-radio>
              <ion-label class="Paylabel">More than 100</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
  <ion-toolbar class="searchTool">
    <ion-searchbar mode="ios" placeholder="filter Product...." [(ngModel)]="filterdata" (keyup)="searchProduct()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mainDiv" [hidden]="FilterProduct">
    <div *ngFor="let category of products | keyvalue">
      <h5 style="text-align: center; background-color: aqua;margin: 0px; padding: 10px 0px;">{{category.key}}</h5>
      <ion-card  *ngFor="let pro of products[category.key] " (click)="gotoDescription(pro.id)">
        <div>
          <img [src]="pro.images[0]" alt="">
        </div>
        <div class="cardContent">
          <h5>{{pro.title}}</h5>
          <h5>{{pro.price}}</h5>
        </div>
      </ion-card> 
    </div>
  </div>
  <div [hidden]="!FilterProduct">
    <!-- <h2>erhgeriughirg</h2> -->
    <ion-card *ngFor="let pro of FilterProduct " (click)="gotoDescription(pro.id)">
      <div>
        <img [src]="pro.images[0]" alt="">
      </div>
      <div class="cardContent">
        <h5>{{pro.title}}</h5>
        <h5>{{pro.price}}</h5>
      </div>
    </ion-card> 
  </div>
  
</ion-content>
